@use '../../../abstracts' as a;

.rich-text {
  @include a.responsive-top-margins(2.5rem, 4rem);

  & > h2 {
    @include a.responsive-top-margins(2.5rem, 4rem);
    @include a.responsive-bottom-margins(1rem, 1.125rem);
    @include a.responsive-font-sizes(1.5rem, 1.875rem, 1, 1);
    font-family: 'montserrat-extra-bold';

    &:first-child {
      margin-top: 0;
    }
  }
  
  & > h3,
  & > h4,
  & > h5 {
    @include a.responsive-top-margins(2.5rem, 4rem);
    @include a.responsive-bottom-margins(1rem, 1.125rem);
    @include a.responsive-font-sizes(1.275rem, 1.65rem, 1, 1);
    font-family: 'montserrat-regular';

    &:first-child {
      margin-top: 0;
    }
  }

  & > p {
    @extend %set-content-max-width-lg;
  }

  & > embed {
    width: 100%;
    object-fit: cover;
  }

  // Style the container div for the iframe
  // There are 2 divs, the one for d-block text-center
  // and the one that houses the iframe.
  // Set rich text video embed to max-width of 100%.
  & > div:not(.d-block) {
    max-width: 100%
  }

  // Style the embedded video iframe element. Set embed height.
  & div > iframe {
    width: 100%;
    height: 350px;

    @include a.min-width('md') {
      height: 450px;
    }
  }

  // Style the centered text to be a smaller font size
  & .text-center > a {
    font-size: 0.85rem;
  }
}