$primary-nav-height: 70px;

$side-spacing-mobile: 4vw;
$side-spacing-tablet: 5.5vw;
$side-spacing-desktop: 7vw;

//$component-top-bottom-spacing-mobile: 90px;
//$component-top-bottom-spacing-tablet: 120px;
//$component-top-bottom-spacing-desktop: 150px;

$component-top-bottom-spacing-mobile: 75px;
$component-top-bottom-spacing-tablet: 100px;
$component-top-bottom-spacing-desktop: 150px;
$component-top-bottom-spacing-4k: 170px;

//$banner-top-bottom-spacing: 95px;








$primary-nav-height-mobile: 73px;
$primary-nav-mobile-item-padding: 8.5px;
$utility-nav-item-offset: 12.5px;

$max-width: 1440px;
$header-side-spacing: 4vw;
$header-side-spacing-absolute: calc((100vw/2) - 45.6rem);
$component-side-spacing: 4vw;
$component-side-spacing-absolute: calc((100vw/2) - 45.6rem);