@font-face {
	font-family: 'montserrat-light';
	font-weight: 300 !important;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'montserrat-regular';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'montserrat-regular-italic';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'montserrat-medium';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-500.woff2') format('woff2');
}

@font-face {
	font-family: 'montserrat-semibold';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-600.woff2') format('woff2');
}

@font-face {
	font-family: 'montserrat-bold';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../../public/fonts/montserrat/montserrat-v24-latin-700.woff2') format('woff2');
}