@use '../../abstracts' as a;

.apod {
  @extend %component-spacing;

  & .header {
    margin-bottom: 1.1875rem;
    font-family: 'montserrat-medium';
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: a.$text-primary-highlight;

    // Grid + ::after creates a line that extends to the right of the text
    display: grid;
    grid-template-columns: auto minmax(20px, 1fr);
    grid-column-gap: 10px;

    @include a.min-width('xl') {
      font-size: 1.2rem;
    }

    &::after {
      content: '';
      border-top: 1px solid a.$text-primary-highlight;
      transform: translateY(50%);
    }
  }

  & .image-wrapper {
    position: relative;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 325px;
    border-radius: 2px;
  }

  & .image{
    transition: filter 0.5s a.$ease-out-quart;
    object-fit: cover;

    &.blur {
      filter: blur(20px);
    }
  }

  & .title {
    //margin-bottom: 0.3125rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
    text-align: center;
  }

  & .subtitle {
    display: flex;
    justify-content: center;
  }

  & .credits {
    font-family: 'montserrat-regular-italic';
    font-size: 0.95rem;
    //font-style: italic;
    color: a.$text-primary-highlight;
  }

  & .date {
    font-family: 'montserrat-light';
    font-size: 0.85rem;
    letter-spacing: 1.75px;
    color: a.$text-primary;
  }

  & .description,
  & .description.p {
    position: relative;
    z-index: 1;
    margin-top: 0.75rem;
    margin-bottom: 0;
    max-height: 120px;
    letter-spacing: 0.9px;
    line-height: 2.1;
    overflow-y: hidden;

    // Animation out
    transition: max-height 0.17s ease-out;
  }
  
  & .fade {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 60%;
    cursor: pointer;
    background-color: linear-gradient(to bottom, rgba(255,255,255,0.001), #fff 70%);
  }

  & .read-more-button {
    position: relative;
    z-index: 3;
    height: fit-content;
    width: 100%;
    font-family: 'montserrat-semibold';
    cursor: pointer;
    color: a.$text-primary-highlight;
    transition: color a.$text-hover-duration a.$ease-out-expo;

    &:hover {
      color: a.$text-primary-highlight-hover;
    }
  }
}